<h1>
    <% if current_user %>
      <%=  "Добро пожаловать, #{current_user.email}!" %>
    <% else %>
      <%=  "Добро пожаловать!" %>
    <% end  %>
</h1>
    <% if current_user %>
<p>На этой странице планируется отображать карту проекта и важнейшие новости. Но, поскольку проект находится в начальной стадии, то тут пока ничего нет.</p>
<p>В настоящий момент вы можете отредактировать свой профиль, сменить пароль и пригласить новых пользователей.</p>
    <% else %>
<p>Вы находитесь на сертификационном сервере проекта ctrl-p.center</p>
<p>Сервер обеспечивает аутентификацию пользователей любых ресурсов распределенной терминальной среды исполнения заказов.</p>
<p>Проект открыт для новых пользователей. Пожалуйста, регистрируйтесь.</p>
    <% end  %>
